@import "compass/css3/images";
@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "fonts.scss";
@import "cleanzone/config.scss";

.homepage{
  background: url('../images/homepage/meio.jpg') center top;
  // Geral

  section{
    padding: 50px 0;
  }

  a, a:hover, a:active{
    color: $verde-claro;
  }

  .btn.verde-claro{
    color: $branco;
    border-color: $verde-claro;
    background-color: $verde-claro;
  }

  // Topo

  .topo-container{
    padding-bottom: 10px;

    .topo-texto{
      width: 60%;
      float: left;
      margin-left: 3%;
      position: relative;
      z-index: 2;

      @media(max-width: 992px){
        width: 620px;
        margin: auto;
        float: none;
      }

    }
    .topo-video{
      width: 40%;
      float: left;
      margin-left: -8%;
      position: relative;
      z-index: 1;
      display: inline-block;

      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);

      &::before{
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
      }

      @media(max-width: 1200px){
        margin-left: -3%;
      }

      @media(max-width: 992px){
        margin: auto;
        float: none;
        display: block;
        margin-top: 80px;
        width: 480px;
      }

    }
  }

  .homepage-logo {
    @include background(image-url("../images/homepage/logo-projeto-brasil.png"));
    background-position: center;
    background-repeat: no-repeat;

    background-color: #09404C;
    width:250px;
    height: 63px;
    position: relative;
    top: 1px;
  }

  .homepage-logo img {
    height: 70px;
  }

  .video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  // Conteudo do meio

  .meio {
    padding-top: 20px;
    @include box-shadow(rgba(0,0,0,0.4) 0 -9px 15px -7px inset);
  }

  .descricao-meio {
    background-color: rgba(255, 255, 255, 0.79);
    font-size: 1.1em;
    text-align: center;
    padding: 15px 20px;

    p{
      font-size: 1.3em;
    }

    h2{
      font-family: 'allerbold';
      color: $verde-claro;
    }

    .ou{
      font-size: 1.7em;
      font-weight: 700;
    }

    .btn.verde-claro{
      font-weight: 700;
      width: 475px;
      height: 57px;
      font-size: 1.8em;
      border-radius: 4px;
    }

    .sort-message{
      color: #A2A2A2;
      font-size: 1.1em;
    }

  }

  .hp-candidato{
    text-align: center;
    margin-top: 30px;

    .avatar{
      @include background-size(cover);
      background-repeat: no-repeat;
      @include border-radius(50%);
      border: 5px solid #FAF4AB;
      height: 150px;
      width: 150px;
      margin: auto;
    }

    .nome{
      margin: 10px auto 0;
      font-family: 'allerregular';
    }

    .numero{
      font-family: 'allerbold';
    }

    .partido{
      color: $verde-escuro;
      margin-bottom: 20px;
    }
  }

  .compare-btn{
    background-color: $verde-claro;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    color: white;

    .nome{
      margin-bottom: 20%;
    }

    i{
      font-size: 5em;
      margin: 22% auto -8%;
    }
  }

  .compare-text.nome{
    font-size: 1.5em;
  }

  // Rodape

  $altura-rodape: 550px;

  .rodape {
      background: url('../images/homepage/rodape.jpg') center top;
      padding: 0;
      height: 700px;

      .bloco{
        height: $altura-rodape;
        margin-top: 75px;
        padding: 0px;

        .conteudo{
          margin: 50px;
        }
      }

      .bloco-amarelo {
        background-color: #F5E642;

        .titulo_pb {
            font-family: 'AllerDisplay';
            font-size: 3em;
            color: #09404C;
        }

        .titulo_pb strong {
          font-family: 'allerbold';
        }

      }

      .decoracao-slogan {
        top: 70px;
        left: initial;
        float: none;
      }

      .bloco-branco{
        background-color: rgba(255, 255, 255, 0.91);

        .divulgue{
          margin-top: 0;

          a{
            color: $verde-escuro;
            font-weight: bold;
            border-bottom: 1px dashed $verde-escuro;
          }
        }
      }

  }



  .rodape p .highlight{
    font-family: 'allerbold';
  }

  .rodape p{
    font-size: 1.2em;
    font-family: 'aller_lightregular';
    color: #09404C;
    text-align: justify;
    margin-top: 20px;
    line-height: 25px;
  }


  .pergunta-rodape {
    line-height: 1.1;
    font-family: 'aller_lightregular';
    font-size: 2.8em;
    color: #09404C;

    span{
      font-family: 'allerbold';
    }
  }

  .fb-like-box, .fb-like-box span, .fb-like-box iframe{
    width: 100% !important;
    height: 350px !important;
  }

  .rodape .seed {
      font-size: 1.5em;
      font-family: 'aller_lightregular';
      color: #09404C;
      text-align: center;
      margin: 0px 0;
      position: relative;
      top: 80px;
  }

  .rodape .seed img {
      width: 70px;
  }

  .rodape img {
      margin-left: 20px;
  }

  .rodape button {
      width: 350px;
      text-transform: uppercase;
      font-family: 'allerbold';
  }
  .rodape input {
      width: 350px;
      margin-left: 15px;
  }

  .chamada-rodape {
      line-height: 1;
      margin: 20px 0;
  }

  .chamada-rodape .linha1 {
      font-family: 'allerregular';
      font-size: 1.1em;
      color: #09404C;
      display: block;
  }

  .chamada-rodape .linha2 {
      font-family: 'allerbold';
      font-size: 2.8em;
      color: #09404C;
  }

  .title {
    font-family: 'aller_displayregular';
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
  }

  .row.praesquerda {
      position: relative;
      top: 15px;
      left: -17px;
  }

  /* changed: use outline for wider browser support */
  .title > span {
    outline: .5em solid #F5E642;
  }

  .title > span > span {
    background: #F5E642;
    /* hide rounding gaps between text box and outline */
    box-shadow: -1px 0 0 #F5E642,
      1px 0 0 #F5E642;
    color: #09404C;
    position: relative;
  }

  .slogan {
      font-family: 'allerbold';
      background-color: #F5E642;
      padding: 10px 0px;
      font-size: 3em;
      line-height: 50px;
      box-shadow: -10px 0px 0 #F5E642, 10px 0px 0 #F5E642;
  }

  .slogan-container-inner {
      margin: 16px 0;
  }

  .slogan.primeiro {
      padding-top: 10px;
  }

  .slogan.topo {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .slogan.ultimo {
      padding-bottom: 10px;
  }

  .btn-acao {
      text-align: center;
      padding: 50px 0;
  }

  .decoracao-slogan {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-top: 15px solid rgb(89,86,30);
      border-right: 30px solid rgb(89,86,30);
      border-bottom: 15px solid transparent;
      top: 10px;
      left: -18px;
      position: relative;
      float: left;
  }

  .slogan-container .quadro-escuro {
      background-color: #09404C;
      padding:10px;
      display: inline;
      width: 200px;
      color: white;
      font-size: 2em;
  }

  .browsehappy {
      margin: 0.2em 0;
      background: #ccc;
      color: #000;
      padding: 0.2em 0;
  }

  .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
  }

}


/* Fix fecebook not-responsive behaviour */
#fb-root {
  display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1200px) {

    .homepage{

      /* Remove the padding we set earlier */
      .header,
      .marketing,
      .footer {
          padding-left: 0;
          padding-right: 0;
      }
      /* Space out the masthead */
      .header {
          margin-bottom: 30px;
      }
      /* Remove the bottom border on the jumbotron for visual effect */
      .jumbotron {
          border-bottom: 0;
      }

      .rodape .bloco{
        margin-top: 50px;
        height: 600px;

        .decoracao-slogan{
          top: 20px;
        }
      }

    }

}

@media screen and (max-width: 1024px) {

  .homepage {

    .rodape{

      height: 1107px;

      .bloco.bloco-amarelo {
        background-color: #F5E642;
        height: 395px;
        padding: 1px;

        .decoracao-logo{
          display: none;
        }
      }

      .bloco-branco{
        margin-top: 0;
      }

    }
  }
}
