@import "cleanzone/config";

.politicians-ranking{

  width: 360px;
  margin: auto;

  @media(max-width: 400px){
    width: 100%;
  }

  .item-ranking{
    height: 80px;
  }

  .position-wrapper{
    height: 100%;
    float: left;
  }

  .arrow{
    float: left;
  }

  .politician-info{
    float: left;

    h4{
      margin: 4px 0 5px;
    }

    small{
      color: #A5A5A5;
    }
  }

  li .pull-right.value{
    margin-top: 0;
    line-height: 54px;
    text-align: center;
    color: #fff;
    position: relative;
    width: 20%;

    @media(max-width: 400px){
      color: #f5e642;
    }

    div{
      position: relative;
      z-index: 2;
      font-size: 1.5em;
      text-align: center;
      font-weight: 700;
      margin-left: -2px;
      margin-top: 2px;
    }

    &:after {
      content: "\f005";
      font-family: 'fontawesome';
      position: absolute;
      font-size: 4.5em;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      z-index: 1;
      color: #f5e642;
      top: 0;
      left: 0;
      margin-top: 3px;

      @media(max-width: 400px){
        font-size: 1.5em;
        left: -16px;
      }
    }
  }

  .position{
    float: left;
    line-height: 54px;
    padding-right: 10px;
    font-size: 2em;
    color: $verde-claro;
    width: 42px;
    text-align: center;
  }

  .avatar{
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    height: 100%;

    @media(max-width: 400px){
      display: none;
    }
  }

  .content-footer{

    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;

    .stat-data{
      padding: 10px;
      float: left;
      width: 50%;

      .stat-blue{
        background: #43A0F2;
        border-radius: 3px;
        text-align: center;
        color: #FFF;
        padding: 20px 10px;

        h2{
          margin: 0 0 5px 0;
        }

        span{
          font-size: 15px;
        }
      }

      .stat-number{
        border-bottom: 1px solid #dadada;
      }

      .stat-number{
        &:last-child{
          border-bottom: 0;
        }

        div{
          display: inline-block;
          vertical-align: middle;
          padding: 5px 5px;
          font-size: 16px;
          line-height: 20px;

          h2{
            margin: 0;
            font-size: 35px;
            color: #444;
            font-weight: 300;
          }
        }

        span{
          font-size: 12px;
        }
      }
    }


  }

}
