@import "compass/css3/images";
@import "cleanzone/config.scss";
@import "mixins/flex.scss";

.politician-profile{

  /* Geral */
  .info {
    padding: 0.4em 0.2em;

    .title{
      font-weight: 500;
      font-size: 1em;
      color: $verde-escuro;
    }
  }

  .numero-candidato{
    color: $verde-claro;
    font-weight: 700;
  }

  .show-more{
    text-align: center;
    font-size: 40px;
    color: #E2E2E2;
    display: none;
  }

  /* Cabeçalho */
  .page-head-left{
    width: 70%;
    float: left;
  }

  .page-head-right{
    width: 30%;
    float: left;

    img{
      max-height: 49px;
      margin-top: 10px;
      float: right;
    }
  }

  /* Informacoes pessoais */
  .profile-wrapper{

    .redes-sociais {
      list-style: none;
      padding-left: 0;
      padding: 0.3em 0 0;
    }

    .link-rede-social i {
      font-size: 22px;
      padding-right: 5px;
    }

    [class*="fa-facebook"]{
      color: $azul-facebook;
    }

    [class*="fa-twitter"]{
      color: $azul-twitter;
    }

    [class*="fa-google-plus"]{
      color: $vermelho-plus;
    }
  }

  /* Profile tabs */
  .profile-tabs{
    cursor: pointer;
  }

  .tab-pane .footer{
    margin: 20px auto 0;
  }

}

@media (max-width: 550px){
  .politician-profile{
    .page-head-left{
      width: 100%;
    }
    .page-head-right{
      width: 100%;
      img{
        float: left;
      }
    }

  }
}


/* Resolucao para telefones */
@media (max-width: 768px) {

  .politician-profile{

    // .three-column-grid{
    //   @include flex-direction(column);
    // }

    .profile-wrapper .block-content,
    .politics .block-content{
      height: 420px;
    }

  }

}

/* Resolucao para tablets e telefones */
@media (max-width: 1024px){

  .politician-profile{

    .profile-wrapper .block-content,
    .politics .block-content{
      overflow-y: hidden;
    }

    .show-more{
      display: block;
    }

  }

}

/* Resolucao so para tablets */
@media (min-width: 768px) and (max-width: 1024px) {

  .politician-profile{

    .profile-wrapper .block-content,
    .politics .block-content{
      height: 225px;
    }

  }

}

/* Resolucao para tablets */
@media (min-width: 1024px) {

}
