@import "compass/css3/images";
@import "cleanzone/config.scss";
@import "mixins/flex.scss";

.politician-profile{

  /* Geral */
  .info {
    padding: 0.4em 0.2em;

    .title{
      font-weight: 500;
      font-size: 1em;
      color: $verde-escuro;
    }
  }

  .numero-candidato{
    color: $verde-claro;
    font-weight: 700;
  }

  .show-more{
    text-align: center;
    font-size: 40px;
    color: #E2E2E2;
    display: none;
  }

  /* Cabeçalho */
  .page-head-left{
    width: 70%;
    float: left;

    @media(max-width: 550px){
      width: 100%;
    }
  }

  .page-head-right{
    width: 30%;
    float: left;

    img{
      max-height: 49px;
      margin-top: 10px;
      float: right;
    }

    @media(max-width: 550px){
      width: 100%;
      img{
        float: left;
      }
    }

  }

  /* Informacoes pessoais */
  .profile-wrapper{

    .redes-sociais {
      list-style: none;
      padding-left: 0;
      padding: 0.3em 0 0;
    }

    .link-rede-social i {
      font-size: 22px;
      padding-right: 5px;
    }

    [class*="fa-facebook"]{
      color: $azul-facebook;
    }

    [class*="fa-twitter"]{
      color: $azul-twitter;
    }

    [class*="fa-google-plus"]{
      color: $vermelho-plus;
    }

    [class*="fa-youtube-play"]{
      color: $vermelho-youtube;
    }
  }

  /* Profile tabs */
  .profile-tabs{
    cursor: pointer;
  }

  .tab-pane .footer{
    margin: 20px auto 0;
  }

}

@media (max-width: 550px){
  .politician-profile{
    .page-head-left{
      width: 100%;
    }
    .page-head-right{
      width: 100%;
      img{
        float: left;
      }
    }

  }
}
