.proposal-detail{

  .page-head{
    padding: 0 0 0 12px;
    border: none;
    border-left: 8px solid;
    box-shadow: none;
    margin-bottom: 10px;

    h3{
      margin-bottom: 0;
    }

    ol{
      padding-bottom: 0;
    }
  }

  .voltar{

    a{
      font-size: 1.1em;
      color: #838383;
      font-weight: 400;
    }

    margin-bottom: 10px;
  }


}
