@import 'cleanzone/config.scss';

.politician-comparative {

  .politicians-list{
    text-align: center;
    margin-top: 12px;

    .active{
      display: none;
    }

    .disabled{
      opacity: 0.6;
    }
  }

  .politician-selector{
    width: 80px;
    display: inline-block;
    padding: 5px;
    margin: 0 10px 10px 0;
    position: relative;
    cursor: pointer;

    img{
      border-radius: 50%;
    }

  }

  .remove-politician{
    position: absolute;
    font-size: 2em;
    right: -11px;
    background-color: #30b786;
    padding: 0px 3px 1px 3px;
    border-radius: 50%;
    color: #fff;
    border: 3px solid #fff;
  }

  .selector-message{
    text-align: center;
    font-size: 1.2em;
  }

  .no-proposal{
    text-align: center;

    i{
      font-size: 4.3em;
      color: #DFDFDF;
    }

    p {
      font-size: 1.2em;
      margin-top: 10px;
      color: #9b9b9b;
      padding: 0 49px;
    }

  }

}

#toast-container{
  margin-top: 55px;
}
