.rating_stars i {
  margin: 2px;
}

.rating-on {
  color: #FFCC28;
}

.rating-off {
  color: #999;
}

.readmore {
  text-align: right;
  padding-top: 20px;
  cursor: pointer;
}

.glyphicon-star {
  color: #FFCC28;
}
