
.teste-cego {

  &#pcont{
    margin-left: 30px;
  }

  .politicians-ranking{
    float: right;
  }

  .rodape{
    position: fixed;
    bottom: 0;
  }

  h1 {
    text-align: center;
    margin: 50px;

    @media(max-width: 768px){
      margin: 0 auto 25px;
    }

    @media(max-width: 450px){
      font-size: 2.3em;
    }

    small{
      @media(max-width: 450px){
        font-size: 0.5em;
      }
    }
  }

  .proposal-wrapper {
    text-align: center;
  }

  .buttons-wrapper {
    text-align: center;
  }

  .rating-stars{
    //margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .rating-icon {
    display: none;
  }

  .proposal {
    max-width: 500px;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  button.pular-proposta {
    font-size: 1.5em;
    margin: 30px 0;
    padding: 10px 30px;
  }

  .loadingbarcontainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    left: 0;
    right: 0;
    display: table;
    margin: auto;
    text-align: center;
    box-shadow: 0 8px 8px 6px rgba(0, 0, 0, 0.22);

    .loadingbar-title{
      padding: 0 25%;
    }
  }

  .proposal-author .avatar{
    border-radius: 50%;
    height: 100%;
    min-height: 70px;

    @media (max-width: 350px){
      min-height: 0;
      height: auto;
      width: 100%;
    }
  }

  .politician-info {
    padding-left: 0;
  }

  .parceria{
    text-align: center;
    font-weight: 600;
  }

  .disclaimer{
    text-align: center;
    color: #777;
    padding-bottom: 120px;
  }

}
