
.teste-cego {

  .politicians-ranking{
    float: right;
  }

  .rodape{
    position: fixed;
    bottom: 0;
  }

  h1 {
    text-align: center;
    margin: 50px;
  }

  .proposal-wrapper {
    text-align: center;
  }

  .buttons-wrapper {
    text-align: center;
  }

  .rating-stars{
    //margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .rating-icon {
    display: none;
  }

  .proposal {
    max-width: 500px;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  button.pular-proposta {
    font-size: 1.5em;
    margin: 30px;
    padding: 10px 50px;

  }

  .loadingbarcontainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    left: 0;
    right: 0;
    display: table;
    margin: auto;
    text-align: center;
    box-shadow: 0 8px 8px 6px rgba(0, 0, 0, 0.22);

    .loadingbar-title{
      padding: 0 25%;
    }
  }

  .proposal-author .avatar{
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    height: 100%;
    margin-left: 15px;
    min-height: 70px;
  }

  .politician-info {
    padding-left: 0;
  }

  .parceria{
    text-align: center;
    font-weight: 600;
  }

  .disclaimer{
    text-align: center;
    color: #777;
    padding-bottom: 120px;
  }

}
