<div id="cl-wrapper" class="fixed-menu" ng-controller="ProfileCtlr" ng-init="currentPolitical = profile[0]">

  <div class="cl-sidebar" data-position="right" data-step="1" data-intro="<strong>Fixed Sidebar</strong> <br/> It adjust to your needs.">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space nano nscroller">
        <div class="content" tabindex="0">


          <ul class="cl-vnavigation">
            <li class="political-side-menu" ng-repeat="profile in profiles | orderBy:'nome_urna'">
              <a id='{{profile.id}}' ng-href='' ng-click="updateProfileView(profile.id)">
              <div class="side-user">
                <div class="avatar"><img ng-src="{{profile.foto}}" alt="Avatar" style="width:50px;border-radius: 25px;margin-right: 5px;"></div>
                <div class="info">
                  <div>{{profile.nome_urna}}</div>
                  <span>{{profile.partido}} <strong>{{profile.numero}}</strong></span>
                </div>
              </div>
              <i class="fa fa-chevron-right "></i>
            </a>
          </li>
        </ul>
          </div>
          <div class="pane" style="display: block;"><div class="slider" style="height: 49px; top: 0px;"></div></div></div>
      </div>
    </div>

    <div class="container-fluid" id="pcont">
      <div class="cl-mcont">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="name">
              {{currentPolitical.nome_urna}} <span class="numero-candidato">{{currentPolitical.numero}}</span></h1>
            </div>
          </div>
          <div class="row three-column-grid">
            <div class="col-md-3 col-sm-12 profile-wrapper">
              <div class="block-flat">
                <div class="block-content clearfix">
                  <div class="avatar col-lg-12 col-md-12 col-sm-5">
                    <img ng-src="{{currentPolitical.foto}}" class="profile-avatar">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-7 profile-info">
                    <div class="info col-md-12">
                      <div class="title">Nome completo:</div>
                      <div class="value">{{currentPolitical.nome}}</div>
                    </div>
                    <div class="info col-md-12">
                      <div class="title">Formação:</div>
                      <div class="value">{{currentPolitical.formacao}}</div>
                    </div>
                    <div class="info col-md-12">
                      <div class="title">Site:</div>
                      <div class="value">{{currentPolitical.site}}</div>
                    </div>
                    <div class="info col-md-12">
                      <div class="title">Email:</div>
                      <div class="value">{{currentPolitical.email}}</div>
                    </div>
                    <div class="info col-md-12">
                     <div class="title">Redes sociais</div>
                     <div class="value">
                      <ul class="redes-sociais">
                        <li class="link-rede-social">
                          <i class="fa fa-facebook-square"></i> <span>fb.com/Yo-ho</span>
                        </li>
                        <li class="link-rede-social">
                          <i class="fa fa-twitter-square"></i> <span>@Yo-ho</span>
                        </li>
                        <li class="link-rede-social">
                          <i class="fa fa-google-plus-square"></i> <span>google.com/+Yo-ho</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block-control">
                <div class="show-more">
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 proposals">
            <div class="personal">
              <proposals></proposals>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 politics">
            <div class="block-flat">
              <div class="block-content clearfix">
                <div class="politic-logo">
                  <img src="images/logo-partido.png" alt="Logo do partido do candidato">
                </div>
                <div class="info">
                  <div class="title">Nome do partido:</div>
                  <div class="value">{{currentPolitical.partido}}</div>
                </div>
                <div class="info">
                  <div class="title">Nome da coligação:</div>
                  <div class="value">{{currentPolitical.coligacao.nome}}</div>
                </div>
                <div class="info">
                  <div class="title">Composição da coligação:</div>
                  <div class="value">{{currentPolitical.coligacao.composicao}}</div>
                </div>
              </div>
              <div class="block-controls">
                <div class="show-more">
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
