<div class="homepage" ng-controller="HomepageCtrl">

  <section class="slide-wrapper">
    <div id="slides">
      <ul class="slides-container">
        <li>
          <img src="images/homepage/topo.jpg" alt="Projeto Brasil"/>
          <div class="slide-text">
            <div class="homepage-logo"></div>
            <h1 class="title">
              <span><span>Tornar a política brasileira<br>mais transparente, competente e<br>democrática.</span></span>
            </h1>
            <div class="decoracao-slogan"></div>
          </div>
        </li>
        <li>
          <img src="images/homepage/topo_2.jpg" alt="Projeto Brasil"/>
          <div class="slide-text">
            <div class="homepage-logo"></div>
            <h1 class="title">
              <span><span>Promover o debate político saudável<br>entre a população</span></span>
            </h1>
            <div class="decoracao-slogan"></div>
          </div>
        </li>
        <li>
          <img src="images/homepage/topo_3.jpg" alt="Projeto Brasil"/>
          <div class="slide-text">
            <div class="homepage-logo"></div>
            <h1 class="title">
              <span><span>Fomentar a consciência política<br>dos jovens eleitores</span></span>
            </h1>
            <div class="decoracao-slogan"></div>
          </div>
        </li>
      </ul>
      <nav class="slides-navigation">
        <a href="#" class="next">
          <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" class="prev">
          <i class="fa fa-angle-left"></i>
        </a>
      </nav>
    </div>
  </section>

  <section class="meio">
    <div class="container">
      <div class="descricao-meio">
        <h2>CANDIDATOS A PRESIDÊNCIA</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="row">
          <div class="hp-candidato col-lg-3 col-md-4 col-sm-6 col-xs-12 grow" ng-repeat="politico in politicos | orderBy:'nome_urna' ">
            <a href="#">
              <div class="avatar" ng-style="{'background-image':'url('+politico.foto+')'}"></div>
              <h3 class="nome">{{politico.nome_urna}} - <span class="numero">{{politico.numero}}</span></h3>
              <div class="partido">{{politico.partido}}</div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="linha-conteudo rodape">
    <div class="container">
      <div class="bloco bloco-amarelo clearfix col-lg-5 col-md-5">
        <div class="conteudo">
          <span class="titulo_pb"><strong>projetobrasil</strong>.org</span>
          <p>Somos uma startup que sonha e busca <span class="highlight">tornar a política brasileira mais transparente, competente e democrática</span>. Queremos informar, engajar e aproximar políticos e cidadãos. Lançaremos a primeira etapa do projeto em julho de 2014, com o foco nas eleições.
          </p>
          <p>
            Nessa primeira etapa, o Projeto Brasil oferecerá ao cidadão a oportunidade de <span class="highlight">conhecer, avaliar e comparar os candidatos</span> com base em suas propostas, histórico eleitoral, profissional e pessoal, entre outros parâmetros. você poderá ainda compartilhar, avaliar e comentar todas as políticas públicas propostas pelos candidatos.
          </p>
        </div>
        <div class="decoracao-slogan"></div>
      </div>
      <div class="bloco bloco-branco clearfix col-lg-7 col-md-7">
        <div class="conteudo">
          <div class="pergunta-rodape">
            <span>COMPARTILHA DO </span>NOSSO SONHO?
          </div>
          <p class="divulgue">
            Então curta nossa página e ajude a divulgar o <span class="highlight">Projeto Brasil</span>
          </p>

          <div class="fb-like-box" style="width: 100%" data-href="http://facebook.com/oprojetobrasil" data-height="550" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        </div>
      </div>
    </div>
  </section>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52366317-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

    $(function(){
      $('#slides').superslides({
        inherit_height_from: '.slide-wrapper',
        animation: 'fade'
      });
    });
  </script>
</div>
