<div class="homepage" ng-controller="HomepageCtrl">
  <section class="topo-container container">
    <div class="topo-texto">
      <div class="slide-text">
        <div class="homepage-logo"></div>
        <h1 class="title">
          <span><span>TORNAR A POLÍTICA BRASILEIRA MAIS TRANSPARENTE, COMPETENTE E DEMOCRÁTICA.</span></span>
        </h1>
        <div class="decoracao-slogan"></div>
      </div>
    </div>
    <div class="topo-video">
      <div class="video-wrapper">
        <iframe src="//www.youtube.com/embed/R9QcFSbZKYU?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section class="meio">
    <div class="container">
      <div class="descricao-meio">
        <h2>CONHEÇA OS CANDIDATOS À PRESIDÊNCIA</h2>
        <p>Clique nas fotos para ver as propostas, histórico e outras informações</p>
        <div class="row">
          <div class="hp-candidato col-lg-3 col-md-4 col-sm-6 col-xs-12 grow" ng-repeat="politico in politicos | orderBy:'nome_urna' ">
            <a ui-sref="profile({nameUrl:politico.nome_url})">
              <div class="avatar" ng-style="{'background-image':'url('+politico.foto+')'}"></div>
              <h3 class="nome">{{politico.nome_urna}} - <span class="numero">{{politico.numero}}</span></h3>
              <div class="partido">{{politico.partido}}</div>
            </a>
          </div>
          <div class="hp-candidato col-lg-3 col-md-4 col-sm-6 col-xs-12 grow">
            <a ui-sref="proposal-comparative">
              <div class="compare-btn">
                <i class="fa fa-th"></i>
                <h3 class="nome">Compare</h3>
              </div>
              <div class="compare-text nome">as propostas dos candidatos</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="linha-conteudo rodape">
    <div class="container">
      <div class="bloco bloco-amarelo clearfix col-lg-5 col-md-5">
        <div class="conteudo">
          <span class="titulo_pb"><strong>projetobrasil</strong>.org</span>
          <p>Somos uma startup que sonha e busca <span class="highlight">tornar a política brasileira mais transparente, competente e democrática</span>. Queremos informar, engajar e aproximar políticos e cidadãos. Lançaremos a primeira etapa do projeto em julho de 2014, com o foco nas eleições.
          </p>
          <p>
            Nessa primeira etapa, o Projeto Brasil oferecerá ao cidadão a oportunidade de <span class="highlight">conhecer, avaliar e comparar os candidatos</span> com base em suas propostas, histórico eleitoral, profissional e pessoal, entre outros parâmetros. você poderá ainda compartilhar, avaliar e comentar todas as políticas públicas propostas pelos candidatos.
          </p>
        </div>
        <div class="decoracao-slogan"></div>
      </div>
      <div class="bloco bloco-branco clearfix col-lg-7 col-md-7">
        <div class="conteudo">
          <div class="pergunta-rodape">
            <span>COMPARTILHA DO </span>NOSSO SONHO?
          </div>
          <p class="divulgue">
             Então visite nosso <a href="https://github.com/ProjetoBrasil/"><i class="fa fa-github"></i> github</a>, curta a <a href="https://www.facebook.com/OProjetoBrasil"><i class="fa fa-facebook-square"></i> fanpage</a> e ajude a divulgar o <span class="highlight">Projeto Brasil</span>
          </p>

          <div class="fb-like-box" style="width: 100%" data-href="http://facebook.com/oprojetobrasil" data-height="550" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modalVideo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="video-wrapper">
          <iframe src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</div>
