<div class="homepage" ng-controller="HomepageCtrl">
  <section class="topo-container container">
    <div class="topo-texto">
      <div class="slide-text">
        <div class="homepage-logo"></div>
        <h1 class="title">
          <span><span>TORNAR A POLÍTICA BRASILEIRA MAIS TRANSPARENTE, COMPETENTE E DEMOCRÁTICA.</span></span>
        </h1>
        <div class="decoracao-slogan"></div>
      </div>
    </div>
    <div class="topo-video">
      <div class="video-wrapper">
        <iframe src="//www.youtube.com/embed/rwm8nkm3NJg?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section class="meio">
    <div class="container">
      <div class="descricao-meio">
        <a ui-sref="teste-cego">
          <button class="btn btn-lg btn-flat verde-claro">
            <i class="fa fa-eye-slash"></i> Teste cego de propostas
          </button>
        </a>
        <p>Descubra se você realmente conhece as propostas dos seus candiadtos</p>
        <p class="ou">ou</p>
        <h2>CONHEÇA OS CANDIDATOS À PRESIDÊNCIA<small style="vertical-align: top;">*</small></h2>
        <p>Clique nas fotos para ver as propostas, histórico e outras informações</p>
        <div class="row">
          <div class="hp-candidato col-lg-3 col-md-4 col-sm-6 col-xs-12 grow">
            <a ui-sref="proposal-comparative">
              <div class="compare-btn">
                <i class="fa fa-th"></i>
                <h3 class="nome">Compare</h3>
              </div>
              <div class="compare-text nome">as propostas dos candidatos</div>
            </a>
          </div>
          <div class="hp-candidato col-lg-3 col-md-4 col-sm-6 col-xs-12 grow" ng-repeat="politico in politicos | orderBy:'nome_urna' ">
            <a ui-sref="profile({nameUrl:politico.nome_url})">
              <div class="avatar" ng-style="{'background-image':'url('+politico.foto+')'}"></div>
              <h3 class="nome">{{politico.nome_urna}} - <span class="numero">{{politico.numero}}</span></h3>
              <div class="partido">{{politico.partido}}</div>
            </a>
          </div>
          <p class="col-sm-12 sort-message">* Ordenados alfabeticamente pelo nome para urna</p>
        </div>
      </div>
    </div>
  </section>

  <section class="linha-conteudo rodape">
    <div class="container">
      <div class="bloco bloco-amarelo clearfix col-lg-5 col-md-5">
        <div class="conteudo">
          <span class="titulo_pb"><strong>projetobrasil</strong>.org</span>
          <p>Somos uma startup que sonha e busca <span class="highlight">tornar a política brasileira mais transparente, competente e democrática</span>. Queremos informar, engajar e aproximar políticos e cidadãos. Lançaremos a primeira etapa do projeto em julho de 2014, com o foco nas eleições.
          </p>
          <p>
            Nessa primeira etapa, o Projeto Brasil oferecerá ao cidadão a oportunidade de <span class="highlight">conhecer, avaliar e comparar os candidatos</span> com base em suas propostas, histórico eleitoral, profissional e pessoal, entre outros parâmetros. você poderá ainda compartilhar, avaliar e comentar todas as políticas públicas propostas pelos candidatos.
          </p>
        </div>
        <div class="decoracao-slogan"></div>
      </div>
      <div class="bloco bloco-branco clearfix col-lg-7 col-md-7">
        <div class="conteudo">
          <div class="pergunta-rodape">
            <span>COMPARTILHA DO </span>NOSSO SONHO?
          </div>
          <p class="divulgue">
             Então visite nosso <a href="https://github.com/ProjetoBrasil/" target="_blank"><i class="fa fa-github"></i> github</a>, curta a <a href="https://www.facebook.com/OProjetoBrasil" target="_blank"><i class="fa fa-facebook-square"></i> fanpage</a> e ajude a divulgar o <span class="highlight">Projeto Brasil</span>
          </p>

          <div id="fb-root"></div>
          <fb:like-box href="http://facebook.com/oprojetobrasil" height="440" colorscheme="light" show_faces="true" header="false" stream="false" show_border="false"></fb:like-box>
        </div>
      </div>
    </div>
  </section>
</div>
