<ul class="nav navbar-nav navbar-right user-nav">
	<li ng-show="userIsLogged" class="dropdown profile_menu">
   <a href="" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="images/avatar2.jpg" class="hide"/><span>{{user.username}}</span> <b class="caret"></b></a>
   <ul class="dropdown-menu">
     <!-- <li><a ng-href="" ng-click="editUserData()"><span class="glyphicon glyphicon-user"></span> Minhas informações</a></li> -->
     <!-- <li class="divider"></li> -->
     <li><a href="" ng-click="logoutUser()">
      <span class="glyphicon glyphicon-log-out"></span> Desconectar</a></li>
    </ul>
  </li>
</ul>
<ul ng-show="!userIsLogged"  class="nav navbar-nav navbar-right not-nav">
  <button class="btn btn-success" style="margin-top: 7px" ng-click="open('register')">Cadastrar</button>
</ul>

<ul ng-show="!userIsLogged" class="nav navbar-nav navbar-right not-nav" style="
    padding-top: 14px;
    padding-right: 10px;
    font-size: 1.1em;
    color: white !important;
">
  <a ng-click="open('login')" style="cursor:pointer;"><i class="fa fa-lock"></i>  Entrar</a>
</ul>
