<div class="block politicians-ranking">
  <div class="header">
  <h2>Ranking de Candidatos <span class="pull-right"></span></h2>
    <h3>De acordo com suas avaliações</h3>
  </div>
  <div class="content no-padding">
    <ul class="items">
      <li ng-repeat="politician in politicians | orderBy:'-media'" class="item-ranking clearfix">
        <div class="position-wrapper">
          <span class="position">{{$index+1}}</span>
          <img class="avatar" ng-src="{{politician.foto}}">
        </div>
        <div class="politician-info">
          <h4>{{politician.nome_urna}}</h4>
          <small>Propostas avaliadas: {{ranking[politician.id].num_propostas}}</small>
        </div>
        <div class="pull-right value">
          <div>{{politician.media | number:1}}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="content-footer">
    <div class="stat-data">
      <div class="stat-blue">
        <h2>{{ ranking.num_total_propostas }}</h2>
        <span>propostas avaliadas</span>
      </div>
    </div>
    <div class="stat-data">
      <div class="stat-number">
        <div><h2>{{ ranking.somatorio_notas / ranking.num_total_propostas | number:1}}</h2></div>
        <div>Avaliação<br><span>média</span></div>
      </div>
      <div class="stat-number">
        <div><h2>{{}}</h2></div>
        <div>Candidatos<br><span>votados</span></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
