<div class="cl-mcont">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="name">
				{{selectedPolitical.nome_urna}} <span class="numero-candidato">{{selectedPolitical.numero}}</span>
			</h1>
		</div>
	</div>
	<div class="row three-column-grid">
		<div class="col-md-3 col-sm-12 profile-wrapper">
			<div class="block-flat">
				<div class="block-content clearfix">
					<div class="avatar col-lg-12 col-md-12 col-sm-5">
						<img ng-src="{{selectedPolitical.foto}}" class="profile-avatar">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-7 profile-info">
						<div class="info col-md-12">
							<div class="title">Nome completo:</div>
							<div class="value">{{selectedPolitical.nome}}</div>
						</div>
						<div class="info col-md-12">
							<div class="title">Formação:</div>
							<div class="value">{{selectedPolitical.formacao}}</div>
						</div>
						<div class="info col-md-12">
							<div class="title">Site:</div>
							<div class="value">{{selectedPolitical.site}}</div>
						</div>
						<div class="info col-md-12">
							<div class="title">Email:</div>
							<div class="value">{{selectedPolitical.email}}</div>
						</div>
						<div class="info col-md-12">
							<div class="title">Redes sociais</div>
							<div class="value">
								<ul class="redes-sociais">
									<li class="link-rede-social">
										<i class="fa fa-facebook-square"></i> <span>fb.com/Yo-ho</span>
									</li>
									<li class="link-rede-social">
										<i class="fa fa-twitter-square"></i> <span>@Yo-ho</span>
									</li>
									<li class="link-rede-social">
										<i class="fa fa-google-plus-square"></i> <span>google.com/+Yo-ho</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="block-control">
					<div class="show-more">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 proposals">
			<div class="personal">
				<div ui-view="proposals"></div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 politics">
			<div class="block-flat">
				<div class="block-content clearfix">
					<div class="politic-logo">
						<img src="images/logo-partido.png" alt="Logo do partido do candidato">
					</div>
					<div class="info">
						<div class="title">Nome do partido:</div>
						<div class="value">{{selectedPolitical.partido}}</div>
					</div>
					<div class="info">
						<div class="title">Nome da coligação:</div>
						<div class="value">{{selectedPolitical.coligacao.nome}}</div>
					</div>
					<div class="info">
						<div class="title">Composição da coligação:</div>
						<div class="value">{{selectedPolitical.coligacao.composicao}}</div>
					</div>
				</div>
				<div class="block-controls">
					<div class="show-more">
						<i class="fa fa-chevron-down"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
