<div class="politician-profile">

  <div class="page-head clearfix">
    <div class="page-head-left">
      <h2>
        {{selectedPolitical.nome_urna}} &nbsp;<span class="numero-candidato">{{selectedPolitical.numero}}</span>
      </h2>
      <ol class="breadcrumb">
        <li><a href="#">Projeto Brasil</a></li>
        <li><a href="#">Candidatos</a></li>
        <li class="active">Presidência da República</li>
      </ol>
    </div>
    <div class="page-head-right">
      <img ng-src="images/logos-partidos/{{selectedPolitical.partido|lowercase}}.jpg" alt="Logo do partido do candidato">
    </div>
  </div>

  <div class="cl-mcont">
    <div class="row three-column-grid">
      <div class="col-md-4 col-sm-12 profile-wrapper">
        <div class="block-flat">
          <div class="block-content clearfix">
            <div class="avatar col-lg-12 col-md-12 col-sm-5">
              <img ng-src="{{selectedPolitical.foto}}" class="profile-avatar">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-7 profile-info">
              <div class="info col-md-12">
                <div class="title">Nome completo:</div>
                <div class="value">{{selectedPolitical.nome}}</div>
              </div>
              <div class="info col-md-12">
                <div class="title">Formação:</div>
                <div class="value">{{selectedPolitical.formacao}}</div>
              </div>
              <div class="info col-md-12">
                <div class="title">Site:</div>
                <div class="value">{{selectedPolitical.site}}</div>
              </div>
              <div class="info col-md-12">
                <div class="title">Email:</div>
                <div class="value">{{selectedPolitical.email}}</div>
              </div>
              <div class="info col-md-12">
                <div class="title">Redes sociais</div>
                <div class="value">
                  <ul class="redes-sociais">
                    <li class="link-rede-social">
                      <i class="fa fa-facebook-square"></i>
                      <i class="fa fa-twitter-square"></i>
                      <i class="fa fa-google-plus-square"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="info">
                <div class="title">Nome do partido:</div>
                <div class="value">{{selectedPolitical.partido}}</div>
              </div>
              <div class="info">
                <div class="title">Nome da coligação:</div>
                <div class="value">{{selectedPolitical.coligacao.nome}}</div>
              </div>
              <div class="info">
                <div class="title">Composição da coligação:</div>
                <div class="value">{{selectedPolitical.coligacao.composicao}}</div>
              </div>
            </div>
          </div>
          <div class="block-control">
            <div class="show-more">
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 proposals">

        <div class="block-flat">
          <div class="header">
            <h3>Declaração de bens</h3>
          </div>
          <div class="content" ng-style="{'overflow':'hidden', 'height':readMoreHeight}">
            <table class="no-border">
              <thead class="no-border">
                <tr>
                  <th style="font-weight: bold; width: 70%">Detalhes</th>
                  <th class="text-right" style="font-weight: bold">Valor do bem</th>
                </tr>
              </thead>
              <tbody class="no-border-y">
                <tr ng-repeat="bem in bens">
                  <td style="width:30%;">{{bem.descricao}}</td>
                  <td class="text-right">R$ {{bem.valor}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="readmore"><a ng-href="" ng-click="readMore = !readMore">{{readMoreText}}</a></div>
        </div>
        <div class="personal">
          <div ui-view="proposals"></div>
        </div>
      </div>
    </div>
  </div>

</div>




<!-- <div class="block-transparent">
  <div class="header">
    <h4>Histórico político</h4>
  </div>
  <ul class="timeline">
    <li ng-repeat="cargo in historico">
      <i class="fa fa-suitcase"></i>
      <span class="date">{{cargo.data}}</span>
      <div class="content">
        <p>{{cargo.descricao}}</p>
      </div>
    </li>
  </ul>
</div> -->
