<div class="politician-profile">
  <div class="page-head clearfix">
    <div class="page-head-left">
      <h2>
        {{selectedPolitical.nome_urna}} &nbsp;<span class="numero-candidato">{{selectedPolitical.numero}}</span>
      </h2>
      <ol class="breadcrumb">
        <li><a ui-sref="main">Projeto Brasil</a></li>
        <li><a ui-sref="main">Candidatos</a></li>
        <li class="active">Presidência da República</li>
      </ol>
    </div>
    <div class="page-head-right">
      <img ng-src="{{selectedPolitical.image_partido}}" alt="Logo do partido do candidato">
    </div>
  </div>

  <div class="cl-mcont">
    <div class="row three-column-grid">
      <div class="col-md-3 col-sm-12 profile-wrapper">
        <div class="block-flat">
          <div class="block-content clearfix">
            <div class="avatar col-lg-12 col-md-12 col-sm-5">
              <img ng-src="{{selectedPolitical.foto}}" class="profile-avatar">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-7 profile-info">
              <div class="info col-md-12">
                <div class="title">Nome completo:</div>
                <div class="value">{{selectedPolitical.nome}}</div>
              </div>
              <div class="info col-md-12">
                <div class="title">Formação:</div>
                <div class="value">{{selectedPolitical.formacao}}</div>
              </div>
              <div class="info col-md-12">
                <div class="title">Site:</div>
                <div class="value">
                  <a ng-href="{{selectedPolitical.site}}" target="_blank">
                    {{parseUrl(selectedPolitical.site)}}
                  </a>
                </div>
              </div>
              <div class="info col-md-12">
                <div class="title">Email:</div>
                <div class="value">{{selectedPolitical.email}}</div>
              </div>
              <div class="info col-md-12">
                <div class="title">Redes sociais</div>
                <div class="value">
                  <ul class="redes-sociais">
                    <li class="link-rede-social">
                      <a ng-href="{{selectedPolitical.facebook}}" ng-show="selectedPolitical.facebook">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a ng-href="{{selectedPolitical.twitter}}" ng-show="selectedPolitical.twitter">
                        <i class="fa fa-twitter-square"></i>
                      </a>
                      <a ng-href="{{selectedPolitical.gplus}}" ng-show="selectedPolitical.gplus">
                        <i class="fa fa-google-plus-square"></i>
                      </a>
                      <a ng-href="{{selectedPolitical.instagram}}" ng-show="selectedPolitical.instagram">
                        <i class="fa fa-instagram"></i>
                      </a>
                      <a ng-href="{{selectedPolitical.youtube}}" ng-show="selectedPolitical.youtube">
                        <i class="fa fa-youtube-play"></i>
                      </a>
                      <a ng-href="{{selectedPolitical.flickr}}" ng-show="selectedPolitical.flickr">
                        <i class="fa fa-flickr"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="info">
                <div class="title">Nome do partido:</div>
                <div class="value">{{selectedPolitical.nome_partido}}</div>
              </div>
              <div class="info">
                <div class="title">Nome da coligação:</div>
                <div class="value">{{selectedPolitical.nome_coligacao}}</div>
              </div>
              <div class="info">
                <div class="title">Composição da coligação:</div>
                <div class="value">{{selectedPolitical.composicao_coligacao}}</div>
              </div>
            </div>
          </div>
          <div class="block-control">
            <div class="show-more">
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 details-wrapper">
        <div class="tab-container">
          <ul class="nav nav-tabs profile-tabs">
            <li class="active"><a data-toggle="tab" data-target="#proposals">Propostas</a></li>
            <li><a data-toggle="tab" data-target="#history">Histórico</a></li>
            <li><a data-toggle="tab" data-target="#possesions">Declaração de bens</a></li>
          </ul>
          <div class="tab-content clearfix">
            <div id="proposals" class="tab-pane active cont">
              <div ui-view="proposals"></div>
            </div>
            <div id="history" class="tab-pane cont">
              <div ui-view="history"></div>
            </div>
            <div id="possesions" class="tab-pane cont">
              <div ui-view="goods"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
