<div class="clearfix rating-stars">
  <div class="col-xs-8" style="text-align: center;">
    <angular-ratings
    ng-model="userVotes[proposal.id]"
    notify-url="{{notifyUrl}}"
    notify-id="proposal.id"></angular-ratings>
  </div>
  <div class="col-xs-4" style="text-align: center;">
   <span ng-class="userVotes[proposal.id] ? 'user-rate' :'vote-text'">
   {{userVotes[proposal.id] || 'Avalie'}}
   </span>
 </div>
 <div class="col-xs-12 nota-media" style="text-align: center;" ng-show="userVotes[proposal.id] > 0">
  Avaliação média: {{proposal.media | ratingFormat:2:userVotes[proposal.id]:5}}
</div>
</div>
