<div class="proposals-wrapper">
  <button id="btnFiltro" type="button" class="btn btn-default btn-flat btn-filter" ng-click="isCollapsed = !isCollapsed">
    <i class="fa fa-filter"></i> Filtrar por categoria
  </button>
  <div class="collapsable-filters" ng-hide="isCollapsed" category-selector>
    <label ng-repeat="category in categories" class="category-filter">
      <input type="checkbox" ng-model='value' ng-change="filterChange(category)"> {{category}}
    </label>
  </div>
  <div class="proposals-columns">
         <elementox></elementox>

    <div class="proposal" ng-repeat="proposal in proposals | propCategoryFilter:myFilter" ng-controller="ProposalVotingCtrl" post-repeat-directive>
      <div class="proposal-content">
        <div class="proposal-title">
          <a ui-sref="proposal({nameUrl:selectedPolitical.nome_url, proposalId:proposal.id})">
            {{ proposal.titulo }}
          </a>
        </div>
        <div class="proposal-rating">
          <proposalrating></proposalrating>
        </div>
        <div class="proposal-footer" ng-style="{'background-color': proposal.cor}">
          {{proposal.tema}}
        </div>
      </div>
    </div>
  </div>
</div>




