<div class="proposal">
  <div class="proposal-content">
    <div class="proposal-author clearfix" ng-show="testeCego">
      <div class="col-xs-3">
        <img ng-src="{{proposalAuthor.foto}}" alt="Candidato autor da proposta" class="avatar">
      </div>
      <div class="col-xs-9 politician-info">
        <h3>{{proposalAuthor.nome_urna}}</h3>
        <p>{{proposalAuthor.partido}}</p>
      </div>
    </div>
    <div class="proposal-title">
      <div class="col-xs-12">
        {{ proposal.titulo }}
        <br>
        <a class="proposalDetailsLink" ui-sref="proposal({nameUrl:selectedPolitical.nome_url, proposalId:proposal.id})" ng-show="showMoreDetailsLink">Mais detalhes <i class="fa fa-angle-double-right"></i> </a>
      </div>
    </div>
    <div class="proposal-rating clearfix">
      <div class="clearfix rating-stars col-xs-12">
        <div class="col-xs-12" style="text-align: center;">
          <angular-ratings
          ng-model="userVotes[proposal.id]"
          notify-url="{{notifyUrl}}"
          notify-id="proposal.id">
        </angular-ratings>
      </div>
      <div class="col-xs-4 rating-icon" style="text-align: center;">
        <span ng-class="userVotes[proposal.id] ? 'user-rate' :'vote-text'">
          {{userVotes[proposal.id] || 'Avalie'}}
        </span>
      </div>
      <div class="col-xs-12 nota-media" style="text-align: center;" ng-hide="testeCego" ng-show="showRatingInfo">
        Avaliação média: {{proposal.media | ratingFormat:2:userVotes[proposal.id]:5}}
      </div>
    </div>
  </div>
  <div class="proposal-footer" ng-style="{'background-color': getColor(proposal.tema)}">
    {{proposal.tema}}
  </div>
</div>
</div>
