<div class="proposals-wrapper" masonry="{'gutter': 10}">

  <div class="proposal block-flat masonry-brick" ng-repeat="proposal in proposals">
    <div class="proposal-content">
      <div class="theme" style="color: {{proposal.cor}}">
        {{proposal.tema}}
        <small>
          {{proposal.subtema}}
        </small>
      </div>
      <p class="description">{{proposal.titulo}}</p>
      <rating class="rating_stars" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
    </div>
    <div class="proposal-show">

    </div>
  </div>


</div>




