<div class="politician-comparative">
  <div class="page-head">
    <h2>Comparativo das propostas</h2>
    <ol class="breadcrumb">
      <li><a href="" ui-sref="main">Projeto Brasil</a></li>
      <li class="active">Comparativo das propostas</li>
    </ol>
    <div class="politicians-list">
      <p class="selector-message">Clique sobre os candidatos para adicioná-los a comparação</p>

      <div ng-repeat="politician in politicians | orderBy:'nome_urna'" class="politician-selector grow" ng-class="{'active': isSelected(politician), 'disabled':disableSelector()}" ng-click="toggleIsSelected(politician)" tooltip="{{politician.nome_urna}}" tooltip-placement="bottom" >
        <img ng-src="{{politician.foto}}" class="profile-avatar" width="100%">
      </div>


    </div>
  </div>

  <div class="cl-mcont">

    <!--  <div class="row">
    <div class="block-flat" ng-show="selectedPoliticians.length < 2">
    <h4>Selecione ao menos dois candidatos:</h4>
    </div>

    <div class="block-flat" ng-show="selectedPoliticians.length > 3">
    <h4>Selecione no máximo três candidatos:</h4>
    </div>
    </div> -->

    <div class="politicians-list">

      <div ng-repeat="politician in politicians | orderBy:'nome_urna'" class="politician-selector" ng-hide="!isSelected(politician)" ng-click="toggleIsSelected(politician)">
        <i class="fa fa-times remove-politician"></i>
        <img ng-src="{{politician.foto}}" class="profile-avatar" width="100%">
      </div>

    </div>

    <div class="dash-cols" ng-show="selectedPoliticians.length >= 2 && selectedPoliticians.length <=3">
      <div class="panel-group accordion" id="accordion">
        <div class="panel panel-default" ng-repeat="(theme, proposal) in proposals">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#{{hash(theme)}}" class="collapsed">
                <i class="fa fa-angle-right"></i>{{theme}}
                <div class="pull-right actions hide">
                  Legenda das cores por vir...
                </div>
              </a>
            </h4>
          </div>
          <div id="{{hash(theme)}}" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4" ng-repeat="(politicianId, p) in proposal">
                  <div class="list-group tickets">
                    <li class="list-group-item" href="">
                      <img class="avatar" ng-src="{{p.politician.foto}}" style="height:50px">
                      <h4 class="name">{{p.politician.nome}}</h4>
                    </li>
                  </div>
                  <div class="proposal clearfix" ng-repeat="proposal in p.proposals">
                    <div class="proposal-content">
                      <div class="theme" ng-style="{'color': proposal.cor}">
                        {{proposal.tema}}
                        <small>
                          {{proposal.subtema}}
                        </small>
                      </div>
                      <p class="description">{{proposal.titulo}}</p>
                      <div class="well" style="padding: 10px" ng-controller="ProposalVotingCtrl">
        Avalie: <rating class="rating_stars" ng-model="userVotes[proposal.id]" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="saveRate(proposal.id, userVotes[proposal.id])"></rating>
        <span ng-show=" userVotes[proposal.id] > 0 ">| Sua avaliação: {{userVotes[proposal.id]}}</span>
        <div class="nota-geral">Avaliação média: {{proposal.media}} <br></div>
      </div>
                      <a ui-sref="proposal({nameUrl:p.politician.nome_url, proposalId:proposal.id})" class="detalhes"><i class="fa fa-plus"></i> Detalhes</a>
                    </div>
                  </div>
                  <!-- <div class="alert alert-success alert-white rounded" ng-repeat="s in p.proposals">
                    <div class="icon"><i class="fa fa-check"></i></div>
                    {{s.titulo}}
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
