<div class="proposal-detail">
  <div class="voltar">
    <a ui-sref="profile({nameUrl:selectedPolitical.nome_url})">
      <i class="fa fa-chevron-left"></i> Voltar para lista de propostas
    </a>
  </div>
  <div class="page-head" ng-style="{'border-color' : proposal.cor}">
      <h3>{{proposal.titulo}}</h3>
      <ol class="breadcrumb">
        <li>{{proposal.tema}}</li>
        <li class="active">{{proposal.subtema}}</li>
      </ol>
      <div class="well" style="padding: 10px" ng-controller="ProposalVotingCtrl">
        Avalie: <rating class="rating_stars" ng-model="userVotes[proposal.id]" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ng-click="saveRate(proposal.id, userVotes[proposal.id])"></rating>
        <span ng-show=" userVotes[proposal.id] > 0 ">| Sua avaliação: {{userVotes[proposal.id]}}</span>
        <div class="nota-geral">Avaliação média: <span>{{proposal.media | ratingFormat:2:"-":5}}</span> <br></div>
      </div></div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Panorama de avaliação por estado</h4>
      <p>Clique em cada estado para ver mais detalhes</p>
    </div>
    <div class="col-sm-6">
      <div data-brasil-map data-data="rating" data-filter='filter'></div>
    </div>
    <div class="col-sm-6">
      <span>Avalia&ccedil;&otilde;es por estado: {{filter}}</span>
      <div data-pie-chart data-data="rating" data-filter="filter"></div>
    </div>
  </div>
  <div>
    <!-- <h2>Comentários</h2>
    <div ui-view="comments"></div> -->
    <disqus-here shortname="projetobrasil" url="{{url}}" identifier="{{id}}" title="{{proposal.titulo}}">
    </disqus-here>
  </div>
</div>


<!-- <a ui-sref="profile" class="btn btn-default"><i class="fa fa-plus-circle"></i> Mais detalhes da proposta</a>
 -->

    <!-- <div class="row">
      <div class="col-xs-12">
        Aqui est&atilde;o os filtros de menu do mapa e do gráfico
        <ol>
          <li>Sexo</li>
          <li>Idade</li>
        </ol>
      </div>
    </div> -->

