<div ng-controller='rakingCtrl' ng-init="getComments()">
  <div class="list-group tickets ranking">
    <li class="list-group-item" ng-repeat="comment in comments | orderBy:'-score'">
      <table class="wrapper-comment">
        <tr>
          <td class="col-avatar">
            <img src="images/avatar_50.jpg" class="avatar" alt="">
          </td>
          <td class="col-comment">
            <h4 class="name">Jeff Hanneman</h4>
            <span class="date">15 Feb</span>
            <p>{{comment.content}}</p>
              <!-- <span class="responder">
              Responder
              </span> -->
            <div class="ranking-controls">
              <a ng-click='increaseScore(comment)' href="" class="increase-score-comment">
                <i class="fa fa-chevron-up"></i>
              </a>
              <span class="ranking">{{comment.score}}</span>
              <a ng-click='decreaseScore(comment)' href="" class="decrease-score-comment">
                <i class="fa fa-chevron-down"></i>
              </a>
            </div>
            <div class="awnser-input">
              <div input-directive idParent="{{comment.idParent}}" idComment="{{comment.idComment}}" class="comment"></div>
            </div>
          </td>
        </tr>
      </table>
      <ul ng-if="comment.comments.length !== 0">
        <li class="list-group-item" ng-repeat="replyOnComment in comment.comments | orderBy:'-replyOnComent.score'">
          <table class="wrapper-comment">
            <tr>
              <td class="col-avatar">
                <img src="images/avatar_50.jpg" class="answer-avatar avatar" alt="">
              </td>
              <td class="col-comment">
                <h4 class="name">Jeff Hanneman</h4>
                <span class="date">15 Feb</span>
                <p>{{replyOnComment.content}}</p>
                <!-- <span class="responder">
                  Responder
                </span> -->
                <div class="ranking-controls">
                  <a ng-click='increaseScore(comment)' href="" class="increase-score-comment">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                  <span class="ranking">{{comment.score}}</span>
                  <a ng-click='decreaseScore(comment)' href="" class="decrease-score-comment">
                    <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div class="awnser-input">
                  <div input-directive class="comment"></div>
                </div>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </li>
  </div>
</div>