<div class="teste-cego" ng-init="getSomeRandomProposals()">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12">
        <h1>
          <i class="fa fa-eye-slash fa-2x"></i><br/>
          Teste cego de propostas<br/>
          <small>Vote nas propostas sem preconceito <i class="fa fa-asterisk" tooltip="Não é informado o canditato autor das propostas."  tooltip-trigger="mouseenter" tooltip-placement="bottom"></i></small>
        </h1>
      </div>
      <div class="col-md-12" class="proposals-container">
        <div class="proposal-wrapper" >
          <proposalbox showIcon="false" teste-cego></proposalbox>
        </div>
      </div>
      <div class="col-md-12 buttons-wrapper">
       <!--    <button ng-init='i = 0' class="pular-proposta btn bnt-lg" ng-click="i=i+1; getNextProposal()">
         Pular ({{i}})
         </button>
      -->
         <button class="pular-proposta btn bnt-lg btn-success" ng-click="getNextProposal()">
         <i class="fa fa-arrow-circle-right"></i> Próxima proposta
         </button>
      </div>
    </div>
    <div class="col-md-4">
      <politicians-ranking></politicians-ranking>
    </div>
  </div>
<!--   <div class="row loadingbarcontainer">
    <div class="col-md-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" ng-style="{'width': progress }">
        {{progress}}
        </div>
      </div>
    </div>
  </div> -->

<!--   <div class="row rodape">
    <div class="col-md-3">Atalho 1</div>
    <div class="col-md-3">Atalho 2</div>
    <div class="col-md-3">Atalho 3</div>
    <div class="col-md-3">Atalho 4</div>
  </div> -->

</div>
